.left {
	float: left;
}
.w40 {
	width: 40%;
}
.w50 {
	width: 50%;
}
.w60 {
	width: 60%;
}
.w100 {
	width: 100%;
}
/* Taken and modified for JSON highlighting from: http://stackoverflow.com/a/7220510 */

pre {
	outline: 1px solid #ccc;
	padding: 5px;
	margin: 5px;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
.string {
	color: green;
}
.number {
	color: darkorange;
}
.boolean {
	color: blue;
}
.null {
	color: magenta;
}
.key {
	color: red;
}